<ul class="menu-lateral" ng-controller="lateralCTL">
		<li>
			<a ng-click="openSidebar()" href="#comparador-popup"><i class="icon-comparar"></i></a>
			<p>Comparar</p>
		</li>
		<li>
			<a href="/graficas"><i class="icon-graficas"></i></a>
			<p>Gráficas</p>
		</li>
		<li>
			<a href="/datos"><i class="icon-descargar"></i></a>
			<p>Descargar datos abiertos</p>
		</li>

    <li>
        <a href="https://www.facebook.com/share.php?u=<%- (typeof fullUrl != 'undefined') ? fullUrl : 'http://viajestransparentes.node.spaceshiplabs.com' %>&title='<%- (typeof description != 'undefined') ? description : 'viajes transparentes' %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           target="_blank"><i class="icon-face"></i></a>
        <p>Facebook</p>
    </li>
    <li>
        <a href="https://twitter.com/share?via='<%- !_.isUndefined(title) ? title : 'Viajes transparentes' %>'&text='<%- (typeof description != 'undefined') ? description : 'viajes transparentes' %>'url=<%- (typeof fullUrl != 'undefined') ? fullUrl : 'http://viajestransparentes.node.spaceshiplabs.com' %>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           target="_blank"><i class="icon-twit"></i></a>
        <p>Twitter</p>
    </li>




	</ul>
